.cart_title {
  font-size: 50px;
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}

.cart_title_align {
  display: block;
  text-align: center;
}

.cart_product {
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}

.cart_availability {
  color: green;
}
