.title {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 60px;
}

.content {
  text-align: justify;
  font-size: 15px;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
  font-family: Open Sans, sans-serif;
}

@media only screen and (max-width: 700px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
