.product {
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}

.name {
  text-align: justify;
}

.star {
  color: #e1655c;
}

.price {
  color: #e1655c;
  font-size: 14px;
  font-weight: bolder;
}

.modal_price {
  color: #e1655c;
  font-size: 20px;
  font-weight: bolder;
}

.modal_description {
  margin-top: 20px;
}

.modal_description_body {
  padding: 20px;
}

.modal_package_button {
  margin-top: 20px;
}

.modal_cart {
  font-size: 25px;
}

.modal_cart_button {
  background-color: black;
}

.ratings {
  font-size: 12px;
  color: grey;
}
.cart {
  display: none;
  color: #e1655c;
  font-size: 14px;
  font-weight: bolder;
}

.cart_button {
  border: none;
  padding-left: 1rem;
}
button:hover .price {
  display: none;
}

button:hover .cart {
  display: inline;
}

.wishlist {
  font-size: 18px;
  border: none;
}

.heart {
  color: red;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.pic_container {
  position: relative;
  padding-left: 18px;
}
.pic_container:hover .image {
  opacity: 0.3;
}

.pic_container:hover .middle {
  opacity: 0.7;
}

.text {
  background-color: white;
  border: none;
  color: #e1655c;
  font-size: 20px;
  padding: 20px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
