body {
--nekojam-orange:  #ffb12b;
}

.bgColor {
	background-color: var(--nekojam-orange)
}


/*   SiteLogo   */
.navbar-brand img {
	max-height: 33px;
	margin-right: 35px;
}

.siteHeader {
	padding: 0 5px;
	font-family: 'Lato', sans-serif;
}

.navbar-brand {
	float: left;
}
/*   SiteLogo   */

/*   NavLists   */
.main-navigation > .nav-item {
	padding-right: 2px;
	margin-right: 20px;
	font-size: 1em;
	color: white;
	font-weight: 600;
	height: 100%;
	-webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/*.main-navigation >.nav-item:hover {
	color: rgba(0,0,0,0.5);
}*/

/*.main-navigation > .nav-item:after {
	position: relative;
	top: 0;
	font-family: "Font Awesome 5 Free";
	margin-left: 4px;
  content: "\f107";
  height: auto;
	-webkit-transition: top .25s ease-in-out;
  -moz-transition: top .25s ease-in-out;
  -o-transition: top .25s ease-in-out;
  transition: top .25s ease-in-out;
}*/

/*.main-navigation >.nav-item:hover.nav-item:after {
	position: relative;
	top: 5px;
}*/

/*   Bootstrap arrow  */

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,0.5);
}


.dropdown-toggle::after {
	/*position: relative;*/
	top: 0;
	font-family: "Font Awesome 5 Free";
	margin-left: 4px;
  content: "\f107"!important;
  border: none;
  height: auto;
	-webkit-transition: top .25s ease-in-out;
  -moz-transition: top .25s ease-in-out;
  -o-transition: top .25s ease-in-out;
  transition: top .25s ease-in-out;
}

.nav-link:hover.dropdown-toggle::after {
	position: relative;
	top: 5px;
}

/*   NavLists   */

/* Tablet and Above*/
@media only screen and (min-width: 40.063em) {
	.siteHeader {
    padding: 10px 60px;
  }
}
/* Tablet and Above*/

/* Hamburger Icon Transition */
#nav-icon4 {
	float: right;
  width: 30px;
  height: 16px;
  position: relative;
  top: 3px;
  /*bottom: 3px;*/
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4:hover span:nth-child(1) {
	top: -20%;
}

#nav-icon4:hover span:nth-child(3) {
	top: 120%;
}


#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 50%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -30%;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 100%;
  left: 8px;
}
/* Hamburger Icon Transition */

/* Navbar Cateogry*/
.test {
	height: 500px;
	width: 500px;
	background: white;
	position: absolute;
	top: 44px;
	-webkit-transition: all .3 ease-in-out;
  -moz-transition: all .3 ease-in-out;
  -o-transition: all .3 ease-in-out;
  transition: all .3 ease-in-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.test > li {
	position: relative;
}

.fa-icons {
  color: white;
  margin-right: 20px;
  transform: scale(1.1);
}

.icon-cart {
	transform: scale(1.2)!important
}

.icon-search {
	transform: scale(1.4)!important;
	position: relative;
	bottom: 2px;
}