.page-footer {
  background-color: #ffb12b;
}

.footer-copyright {
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}

.link {
  color: white !important;
  padding: 7px;
}

.icons {
  font-size: 35px;
  text-align: center;
}

.footer-height {
	height:50px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/*footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}*/